.recipe-form {
  --main-color: #f3f3f3;
  --dark-color: #e9e9e9;
  --ingredient-color: #dadada;
  
  max-width: 720px;
  margin: 3em auto;
  box-shadow: var(--box-shadow);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.25em 2em;

  & > * + * {
    margin-top: 0.75em;
  }

}

.recipe-form > input, .recipe-form textarea {
  padding: 0.35em 0.75em;
  border: none;
  outline: none;
  font-family: 'Permanent Marker', cursive;

  border-radius: 0px;
  background-color: var(--main-color);
  padding-left: 0.75em;

  transition: 0.3s all;
  transition-property: border-radius, background-color, padding-left;

  &:focus {
    border-radius: 10px;
    background-color: var(--dark-color);
    padding-left: 1em;
  }
}

.recipe-form textarea {
  font-family: sans-serif;
  min-height: 250px;
}

.recipe-form button[type="submit"] {
  height: 35px;
}

// .recipe-form .ingredients {
//   list-style-type: none;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// .ingredients li, .ingredients input {
//   font-family: 'Permanent Marker', cursive;
//   background-color: var(--ingredient-color);
//   padding: 0.2em 0.5em;
//   border-radius: 7px;
//   margin: 0.2em 0.4em;
// }

// .ingredients input {
//   border: none;
//   outline: none;
//   font-size: inherit;
//   min-width: 60px;
// }