{{ template "header" }}

{{ template "back-home" }}

<form class="recipe-form" method="post">
  <input style="font-size: 1.35em;" required
    spellcheck="false"
    name="title"
    placeholder="Your recipe title..."
    value="{{ .title }}"
  >

  <!-- <p>Ingredients: </p>
  <ul class="ingredients">
    <input
      class="autoresize-input" 
      placeholder="New: "

    >
    <li>Milk</li>
  </ul> -->

  <textarea required
    spellcheck="false"
    name="description"
    class="autoresize-textarea"
    placeholder="Description: "
  >{{ .description }}</textarea>
  <button class="color-button" type="submit">Post!</button>
  {{ template "error" . }}
</form>

{{ template "footer" }}